/* Navbar BG Color*/
.navbar-inverse.custom-nav {
    background-color: #0747a6;
    background-image: none;
    border: none;
}

/* Navbar font color */
.navbar-inverse.custom-nav .navbar-nav>li>a {
    color: #fff;
    margin-right: 1px;
}

/* Hover Effect */
.navbar-inverse.custom-nav .nav>li>a:focus,
.navbar-inverse.custom-nav .nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
}

/* Active Nav */
.navbar-inverse.custom-nav .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: none;
    box-shadow: none;
}



/* Toggle Border */
.navbar-inverse.custom-nav .navbar-toggle {
    border-color: #fff;
    cursor: pointer;
}

/* Toggle bg */
.navbar-inverse.custom-nav .navbar-toggle:focus,
.navbar-inverse.custom-nav .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/*Logo*/
.custom-navbar-brand {
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.custom-navbar-brand img {
    max-width: 100%;
    max-height: 35px;
}


/*Profile Dropdown Start*/
.profile-dropdown {
    margin-right: 0;
}

.profile-dropdown a {
    text-transform: capitalize;
    color: #fff;
}

.profile-dropdown>li>a {
    padding-bottom: 10px;
}

.profile-dropdown a img {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
}

/*Profile Dropdown End*/



/*Profile Dropdown start*/
.custom-nav .dropdown-menu>li>a {
    line-height: 26px;
    color: #fff;
    background-image: none;
    background-color: rgba(7, 71, 166, 0.25);
    
  
}

.custom-nav .dropdown-menu>li>a:focus,
.custom-nav .dropdown-menu>li>a:hover {
    background-color: rgba(7, 71, 166, 1);
    border-radius: 0 0 6px 6px;
}



.custom-nav .dropdown-menu {
    background: rgba(7, 71, 166, 0.90);
    padding: 0;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 6px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.custom-nav .dropdown-menu,
.dropdown-submenu>.dropdown-menu {
    border-radius: 0 0 6px 6px;
}



.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 8px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}


.dropdown-menu .divider {
    margin: 0;
    background-color:rgba(0, 0, 0, 0.25);
}