{% extends "web-templates/layouts/main.html" %}
{% block title %} Group {% endblock %}
{% load static %}
{% block stylesheet %}
{% endblock %}
{% block content %}

<link href="{% static 'css/create_group.css'%}" rel="stylesheet" />


<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-md-b-25">
  <h4 class="mg-b-0">Form Builder</h4>
  
</div>

  <div class="card">
    <div class="card-header pd-b-0">
        <ul class="nav nav-line bd-b-0" role="tablist" id="admin_tab">
            <li class="nav-item" role="presentation">
                <a href="#tabUser" id="tabUserBtn" role="tab" data-bs-toggle="tab" class="nav-link clickTab active" attr-data="user" aria-controls="tabUser" aria-selected="true">List</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#tabcreate_form" id="tabUserBtn" role="tab" data-bs-toggle="tab" class="nav-link" attr-data="user" aria-controls="tabUser" aria-selected="true">Create New Form</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tabUser" role="tabpanel" aria-labelledby="#tabUserBtn">
                <div id="loaderInternal"></div>
                <div>
                  <table id="group" class="table table-dashboard-three w-100">
                    <thead class="thead-themed sticky-top">
                        <tr>
                          <th>Form Name</th>
                            <th>Description</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                              Add Item
                          </td>
                            <td>Add New Items</td>
                            <td>23/09/2024 18:51:00</td>
                            <td id="group_actn">
                                <div class="d-flex">
                                    <a href="/form_builder/" class="bgicon" title="Edit"><i aria-hidden="true" class="mdi mdi-eye"></i></a>
                                    <a href="javascript:void(0);" class="bgicon" data-bs-toggle="modal" title="Edit"><i aria-hidden="true" class="mdi mdi-pencil"></i></a>
                                    <a href="javascript:void(0);" class="bgicon" title="Delete Record"><i aria-hidden="true" class="mdi mdi-delete"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
  



{% endblock %}
{% block javascript %}

{% endblock %}