{% extends 'frontend/layouts/main.html' %} 
{% block title %}Change Password{% endblock %}
{% load static %}

{% block content %}
<style>
  #changepassword .has-float-label label.error {
    position: initial;
    margin-top: 5px;
    color: red;
  }
</style>

<div class="content-fixed content-auth-alt mg-t-0">
  <div class="d-flex justify-content-center ht-100p">
    <div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center">
      <div class="wd-80p wd-sm-300 mg-b-15">
        <img src="{% static 'img/key.png'%}" class="img-fluid" alt=""/>
      </div>
      <h4 class="tx-20 tx-sm-24">Change your password</h4>
      <p class="tx-color-03 mg-b-30 tx-center">Avoid simple patterns. Make certain that your password is at least eight
        characters long</p>

      <div class="wd-100p d-flex flex-column mg-b-20">
        <form id="changepassword">
          <div class="form-group">
            <div class="has-float-label">
              <input type="password" class="form-control" required placeholder="Old Password" name="old_password" id="old_password">
              <label class="d-block">Old Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="has-float-label">
              <input type="password" class="form-control" required placeholder="New Password" name="new_password"
                id="new_password">
              <label class="d-block">New Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="has-float-label">
              <input type="password" class="form-control" required placeholder="Confirm Password" name="c_password"
                id="c_password">
              <label class="d-block">Confirm Password</label>
            </div>
          </div>
          
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="show-passwords">
            <label class="custom-control-label tx-color-03 tx-13" for="show-passwords">Show Password</label>
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" id="update_pwd">Update Password</button>
            <button type="reset" class="btn btn-white" id="pwd_cancel">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/user_profile.js' %}"></script>
<!--Password Show Hide-->
<script>
const toggle = document.querySelector('#show-passwords');
const passwords = Array.from(
  document.querySelectorAll('[type="password"]')
);

function togglePassword (checkbox, field) {
  field.type = checkbox.checked ? 'text' : 'password';
}

function handleChange () {
  passwords.forEach(password => {
    togglePassword(this, password);
  });
}

toggle.addEventListener('change', handleChange);
</script>
{% endblock %}