{% extends "web-templates/layouts/main.html" %}
{% block title %} Dictionary {% endblock %}
{% load static %}
{% block stylesheet %}
<!-- <link rel="stylesheet" href="{% static 'css/custom.tabledit.css' %}"> -->
<style>
  #dropZone {
    width: 100%;
    height: 100px;
    border: 2px dashed #999;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    /* color: #999; */
    margin-top: 20px;
    cursor: pointer;
    background-color: #f0f8ff;
}
  #dropZone.dragover {
      border-color: #333;
      color: #333;
  }
  .highlight{
      background: rgba(255, 235, 59, 0.49) !important; /* Highlight color */
      transition: background-color 0.5s ease; /* Transition effect */
  }
 </style>
{% endblock %}
{% block content %}
<style>
  #dropZone {
    width: 100%;
    height: 100px;
    border: 2px dashed #999;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    /* color: #999; */
    margin-top: 20px;
    cursor: pointer;
    background-color: #f0f8ff;
}
  #dropZone.dragover {
      border-color: #333;
      color: #333;
  }
  .highlight{
      background: rgba(255, 235, 59, 0.49) !important; /* Highlight color */
      transition: background-color 0.5s ease; /* Transition effect */
  }
 </style>

<div class="collapse mg-t-5" id="addDictionary">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="dict_name">Name</label>
        <input type="text" class="form-control" id="dict_name" placeholder="Name">
      </div>
      <div class="form-group col-md-6">
        <label for="dict_code">Code</label>
        <input type="text" class="form-control" id="dict_code" placeholder="Code">
      </div>
    </div>
    <div class="form-group">
      <label for="dict_desc">Description</label>
      <input type="text" class="form-control" id="dict_desc" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
  
  <div class="row row-xs">
    <div class="col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-body pd-y-30">
          <div class="table-responsive">
            <table aria-describedby="table" class="table table-dashboard-three w-100 mg-b-0" id="dictionaryTable" style="border-spacing: 1px 10px;">
              <thead>
                <tr class="tx-bold">
                  <th>Name</th>
                  <th>Description</th>
                  <th class="wd-100 no-sort">Action</th>
                </tr>
              </thead>
              <tbody class="data_dictionary" id="dict_definition_tbl">
                
              </tbody>
            </table>
          </div>
        </div><!-- card-body -->
      </div>
    </div>
  </div>

  <div class="modal fade show" id="dict_kv_modal" tabindex="-1" role="dialog" aria-modal="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body pd-x-25 pd-sm-x-30 pd-t-40 pd-sm-t-20 pd-b-15 pd-sm-b-20">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <h4 class="mg-b-0tx-18" id="dict_nme"></h4>
              <p class="tx-12 tx-color-03 mg-b-0" id="dict_def"></p>
            </div>
            <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </a>
          </div>
          <div class="mg-t-10">
            <!-- <div class="d-flex mg-t-20 mg-b-0">
              <div class="flex-1 mg-r-20">
                <div class="search-form mg-t-20 mg-sm-t-0">
                  <input type="search" class="form-control ht-30" placeholder="Search...">
                  <button class="btn" type="button">
                    <i class="feather-search"></i>
                  </button>
                </div>
              </div>
              <div class="d-flex">
                <button id="downloadXls" class="btn btn-xs btn-info mg-l-30" href="#" role="button"><i class="fa fa-file-excel-o"></i> Download</button>
              </div>



              <div class="d-flex mg-l-20">
                <button id="editAllBtn" class="btn btn-xs btn-outline-secondary"><i class="fa fa-pencil"></i> Edit All</button>
                <button id="saveAllBtn" class="btn btn-xs btn-outline-success mg-l-10" style="display:none;"><i class="fa fa-save"></i> Save All</button>
            </div>
  
            </div> -->
  
            <div class="table-responsive">
              <table class="table table-dashboard mg-t-10 w-100" id="previewDict" >
                <thead>
                  <tr>
                    <th>Code</th>
                    <th >Value</th>
                    <th class="superuser" style="display: none;">Action</th>
                  </tr>
                </thead>
                <tbody id="previewDictBdy">
                  <tr>
                    <td>1</td>
                    <td class="tx-medium">UAE</td>
                    <td class="superuser" style="display: none;">
                      <a class="btn btn-xs btn-outline-secondary superuser" style="display: none;" href="#"><i class="mdi mdi-null"></i> Inactive</a>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="tx-medium">Qatar</td>
                    <td class="superuser" style="display: none;">
                      <a class="btn btn-xs btn-outline-secondary superuser" style="display: none;" href="#"><i class="mdi mdi-null"></i> Inactive</a>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td class="tx-medium">Oman</td>
                    <td class="superuser" style="display: none;">
                      <a class="btn btn-xs btn-outline-secondary superuser" style="display: none;" href="#"><i class="mdi mdi-null"></i> Inactive</a>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td class="tx-medium">Saudi Arabia</td>
                    <td class="superuser" style="display: none;">
                      <a class="btn btn-xs btn-outline-secondary superuser" style="display: none;" href="#"><i class="mdi mdi-null"></i> Inactive</a>
                    </td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td class="tx-medium">Bahrain</td>
                    <td class="superuser" style="display: none;">
                      <a class="btn btn-xs btn-outline-secondary superuser" style="display: none;" href="#"><i class="mdi mdi-null"></i> Inactive</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- <table id="tableView" class="table table-dashboard mg-t-10">
                <thead>
                    <tr>
                        <th class="text-monospace">Code</th>
                        <th>Value</th>
                        <th class="wd-100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
              </table> -->

            </div>
          </div>
  
        </div>
        <div class="modal-footer bd-t-0">
          <button type="button" class="btn btn-secondary tx-13" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary tx-13" data-bs-dismiss="Save">Save</button> -->
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>

  <div class="modal fade show" id="edit_dict_value_brand" tabindex="-1" role="dialog" aria-modal="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body pd-x-25 pd-sm-x-30 pd-t-40 pd-sm-t-20 pd-b-15 pd-sm-b-20">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <h4 class="mg-b-0tx-18">Country</h4>
              <p class="tx-12 tx-color-03 mg-b-0">List of countries where Aster Hospitals are Functional.	</p>
            </div>
            <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </a>
          </div>
          <div class="d-flex mg-t-20 mg-b-0">
            <div class="flex-1 mg-r-20">
              <div id="addTableSearch" class="search-form mg-t-20 mg-sm-t-0">
                <input type="search" class="form-control" placeholder="Search...">
                <button class="btn" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
              </div>
            </div>
            <div class="d-flex">
              <!-- <button id="tableDownloadXls" class="btn btn-xs btn-info mg-r-10" href="#" role="button"><i class="fa fa-file-excel-o"></i> Download</button> -->
              <button class="btn btn-xs btn-secondary mg-r-10 superuser" data-bs-toggle="collapse" href="#collapseBulkUpload" role="button" aria-expanded="false" aria-controls="collapseExample" style="display: none;"><i class="fa fa-plus"></i> Bulk Upload</button>
              <button id="addRowBtn" class="btn btn-xs btn-primary mg-l-30"><i class="fa fa-plus"></i> Add Row</button>
            </div>

          </div>
          <div class="mg-t-0">
            <div class="collapse mg-t-5" id="collapseBulkUpload">
              <div id="dropZone">Drag and drop an XLS/XLSX file here, or click to select a file</div>
              <input type="file" id="xlsFile" accept=".xls,.xlsx" style="display:none;" />
            </div>
            <div class="table-responsive">
              <table id="editableTable" class="table table-dashboard-three w-100" style="border-spacing:1px 10px;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Value</th>
                        <th class="wd-100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated here from JSON -->
                </tbody>
              </table>
            </div>
          </div>
  
        </div><!-- modal-body -->
        <div class="modal-footer bd-t-0">
          <button type="button" class="btn btn-secondary tx-13" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary tx-13" data-bs-dismiss="Save">Save</button>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>

{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="{% static 'js/dictionary/dictionary_base.js' %}"></script>
<script src="{% static 'js/dictionary/table-edit-only.js' %}"></script>
<script src="{% static 'js/dictionary/custom-add-table.js' %}"></script>

<script>
    $( document ).ready(function() {
        $('.downloads_file').each(function() {
          var trigger = $(this);
          if (trigger.attr('data-target')) {
            var content = $(trigger.data('target'));
            $(content).hide();
            trigger.popover({
              html: true,
              sanitize: false,
              content: function() {
                return content.html();
              }
            });
          } else {
            trigger.popover();
          }

        });


        $('#pover-card').popover({
          html: true,
          sanitize: false,
          content: function() {
            var id = $(this).attr('id')
            return $('#po' + id).html();
          }
        });

        $("#previewDict").dataTable({
          width:"100%"
          // order: [[ 4, 'desc' ]]
        });


    });
  </script>
{% endblock %}