{% load static %}
{% load common %}
{% scikiqVersion as version %}
<!--Notifications-->
<link href="{% static 'plugins/jquery-scrollbar/jquery.scrollbar.css'%}?v={{version.web_version}}" rel="stylesheet"/>
<link id="jqueryui" href="{% static 'plugins/jquery-ui-1.12.1/jquery-ui.min.css'%}?v={{version.web_version}}" rel="stylesheet" type="text/css">

<!-- Datatable CSS -->
<link href="{% static 'css/datatables.net-responsive-dt/css/responsive.dataTables.min.css'%}" rel="stylesheet">
<link href="{% static 'css/datatable-buttons/buttons.dataTables.min.css'%}" rel="stylesheet">
<link href="{% static 'css/table.css'%}?v={{version.web_version}}" rel="stylesheet" />

<!-- Icons-->
<link href="{% static 'fonts/fontawesome/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
<link href="{% static 'plugins/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
<link href="{% static 'fonts/font-awesome-5v3/all.css'%}" rel="stylesheet" />
<link href="{% static 'fonts/flat-icon/flaticon.css'%}" rel="stylesheet" />
<link href="{% static 'fonts/mdi/css/materialdesignicons.min.css'%}" rel="stylesheet">
<link href="{% static 'fonts/mdi6.1/css/materialdesignicons.min.css'%}" rel="stylesheet">
<link href="{% static 'fonts/icofont/icofont.min.css'%}" rel="stylesheet">
<link href="{% static 'fonts/glyphicons/bootstrap-glyphicons.css'%}" rel="stylesheet" />
<link href="{% static 'fonts/line-awesome/css/line-awesome.min.css'%}" rel="stylesheet" />
<!-- <link href="{% static 'fonts/font-awesome-6/css/all.min.css'%}" rel="stylesheet" /> -->
<link href="{% static 'fonts/font-awesome-5/css/all.css'%}" rel="stylesheet" />
<link href="{% static 'fonts/font-awesome-4/css/font-awesome.css'%}" rel="stylesheet" />
<link href="{% static 'fonts/feather/feather.css'%}" rel="stylesheet" />

<link href="{% static 'css/developer.css'%}?v={{version.web_version}}" rel="stylesheet" />
<link href="{% static 'plugins/select2_4_0_3/select2.min.css'%}?v={{version.web_version}}" rel="stylesheet">

<link href="{% static 'plugins/bootstrap-multiselect/css/bootstrap-multiselect.css'%}?v={{version.web_version}}" rel="stylesheet">

<link href="{% static 'plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

<!-- DashForge CSS -->
<link href="{% static 'css/scikiq.css'%}?v={{version.web_version}}" rel="stylesheet" />
<link href="{% static 'css/scikiq.dashboard.css'%}?v={{version.web_version}}" rel="stylesheet" />
<link href="{% static 'css/scikiq.main.css'%}?v={{version.web_version}}" rel="stylesheet" />
<link href="{% static 'css/theme/skin.cool.css'%}?v={{version.web_version}}" rel="stylesheet" />
<link href="{% static 'css/theme/skin.deepblue.css'%}?v={{version.web_version}}" rel="stylesheet" />

<!--Common CSS-->
<link href="{% static 'css/common.css'%}?v={{version.web_version}}" rel="stylesheet" />
<link href="{% static 'css/responsive.css'%}?v={{version.web_version}}" rel="stylesheet" />
